@font-face {
   font-family: "Belinda";
   src: url("../fonts/Belinda.eot");
   src: url("../fonts/Belinda.eot?#iefix") format("embedded-opentype"),
      url("../fonts/Belinda.woff2") format("woff2"),
      url("../fonts/Belinda.woff") format("woff"),
      url("../fonts/Belinda.ttf") format("truetype");
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}
